<div ng-include = "'views/components/navbartester.html'"></div>
<div class="col-lg-12">
    <h1 class="page-header">List of Tests</h1>
</div>
<!-- /.col-lg-12 -->
</div>
<div class="row" ng-if="alert != null">
	<div class="col-lg-12">
		<div class="alert alert-success" th:text="${msg != null ? msg : '' }">
        {{alert}}
        </div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<a ui-sref="hometester.listcategories.addnewcategory"><button type="button" class="btn btn-primary">Add New Test</button></a><br/><br/>
        <div class="panel panel-default">
            <div class="panel-heading">
                Test
                <div style="float: right">
                    <input type="text" placeholder="Search..." ng-model="search"/>
                    <button class="btn-default" type="button" disabled readonly>
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
							<tr>
								<th>No.</th>
								<th class="col-lg-2">Test</th>
								<th>Description</th>
								<th>Type</th>
								<th>Time Limit</th>
								<th>Action</th>
								<th>Questions</th>
							</tr>
						</thead>
                        <tbody>
							<tr dir-paginate="category in arrayCategories | orderBy:sortKey:reverse|filter: search:strict |itemsPerPage:10">
                                <td> {{$index + 1}} </td>
    							<td> {{category.questionCategory}} </td>
    							<td> {{category.description}} </td>
    							<td> {{category.questionType}} </td>
    							<td> {{category.timeLimit / 60}} minutes</td>
    							<td>
                                    <button ui-sref="hometester.listcategories.editcategory({ id : category.idCategory })" class="btn btn-success" style="font-size: 12px">
                                                <span class="glyphicon glyphicon-edit" aria-hidden="true" />
                                                Edit
                                    </button>
                                    <button ng-click="toDelete(category.idCategory)" class="btn btn-danger"  style="font-size: 12px">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true" />
                                            Delete
                                    </button>
                                </td>
    							<td>
                                    <a ui-sref="hometester.listcategories.addquestion({ idCategory : category.idCategory })" >
                                    <button type="button" class="btn btn-submit btn-xs">Add Questions</button>
                                    </a>
        							<a ui-sref="hometester.listcategories.listquestion({ idCategory : category.idCategory })" >
                                    <button type="button" class="btn btn-success btn-xs">List Questions</button>
                                    </a>
                                </td>
							</tr>
						</tbody>
                    </table>
                    <dir-pagination-controls
                       max-size="5"
                       direction-links="true"
                       boundary-links="true" >
                    </dir-pagination-controls>
                </div>
            </div>
            <!-- /.panel-body -->  
        </div>
       
        <!-- /.panel -->
    </div>
</div>
<!-- /.row -->

<!-- Page-Level Plugin Scripts - Tables -->
    <script src="/asset/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/asset/js/plugins/dataTables/dataTables.bootstrap.js"></script>

<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
$(document).ready(function() {
    $('#dataTables-example').dataTable();
});
</script>