<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="width=device-width, initial-scale=1"/>

    <title>Dashboard Tester</title>

     <!-- Core CSS - Include with every page -->
    <link href="/asset/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/asset/font-awesome/css/font-awesome.css" rel="stylesheet"/>

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="/asset/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet"/>
    <link href="/asset/css/plugins/timeline/timeline.css" rel="stylesheet"/>

    <!-- SB Admin CSS - Include with every page -->
    <link href="/asset/css/sb-admin.css" rel="stylesheet"/>

</head>

<body>

    <div id="wrapper">

		<div th:replace="navbartester :: common-navbar" />
		        
                <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Form Edit Question Category</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Form Edit Category
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-8">
                                	<div class="alert alert-danger" th:if="${msg != null}" th:text="${msg != null ? msg : '' }">
                            		</div>
                                    <form action="editcategory" method="post">
                                        <div class="form-group">
                                            <label>Name question category</label>
                                            <input class="form-control" type="hidden" name="idCategory" th:attr="value = ${data !=null ? data.idCategory : '' }"/>
                                            <input class="form-control" type="text" placeholder="Enter question category" name="questionCategory" th:attr="value = ${data !=null ? data.questionCategory : '' }"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Description category</label>
                                            <input class="form-control" type="text" placeholder="Enter description category" name="description" required="required" th:attr="value = ${data !=null ? data.description : '' }"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Question Type</label>
              								<div class="radio" >
												<label>
													<input type="radio" id="optionsRadios1" name="questionType" value="Multiple choice" th:checked="${data.questionType=='Multiple Choice' ? 'true':'false'}"/>Multiple Choice
												</label>										                   
											</div>
											<div class="radio" >
												<label>
													<input type="radio" id="optionsRadios1" name="questionType" value="Essay" th:checked="${data.questionType=='Essay' ? 'true':'false'}"/>Essay
												</label>										
											</div>	
                                        </div> 
                                         <div class="form-group">
                                            <label>Time Limit</label>
                                            <input class="form-control" type="text"  name="timeLimit" required="required" placeholder="Enter time limit based on minute" th:attr="value = ${data !=null ? data.timeLimit : '' }"/>
                                        </div>
                                        
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <a href="../list"><button type="button" class="btn btn-danger">Cancel</button></a>
                                    </form>
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

   <!-- Core Scripts - Include with every page -->
    <script src="/asset/js/jquery-1.10.2.js"></script>
    <script src="/asset/js/bootstrap.min.js"></script>
    <script src="/asset/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="/asset/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="/asset/js/plugins/morris/morris.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="/asset/js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    <script src="/asset/js/demo/dashboard-demo.js"></script>

</body>

</html>