<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Dashboard User</title>

    <!-- Core CSS - Include with every page -->
    <link href="/asset/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/asset/font-awesome/css/font-awesome.css" rel="stylesheet"/>

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="/asset/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet"/>
    <link href="/asset/css/plugins/timeline/timeline.css" rel="stylesheet"/>

    <!-- SB Admin CSS - Include with every page -->
    <link href="/asset/css/sb-admin.css" rel="stylesheet"/>

</head>

<body>

    <div id="wrapper">
    
    	<div th:replace="navbaruser :: common-navbar" />

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Welcome To Dashboard User</h1>
                    <h3>Guidance to fill the test</h3><br/>
                    <p>1. Participants check test information that appears on the screen</p>
                    <p>2. Participants work on the taks in accordance with the category that has been set by the organizers</p>
                    <p>3. Time determined by the organizers to complete the exam</p>
                    <p>4. Participants can change the way an answer option / select another answer</p>
                    <p>5.Participants are not allowed to cheat, working together, chatting with other participants while following the test</p><br/><br/>
                    
                    <p>~ Good luck ~</p>
                    <h4>kskksksksksks</h4>
                </div>
                <div class="col-lg-12" th:if="${msg != null}">
            		<div class="alert alert-success" th:text="${msg != null ? msg : '' }">
                    </div>
            	</div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
           
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="/asset/js/jquery-1.10.2.js"></script>
    <script src="/asset/js/bootstrap.min.js"></script>
    <script src="/asset/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="/asset/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="/asset/js/plugins/morris/morris.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="/asset/js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    <script src="/asset/js/demo/dashboard-demo.js"></script>

</body>

</html>
