<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="width=device-width, initial-scale=1"/>

    <title>Dashboard Tester</title>

     <!-- Core CSS - Include with every page -->
    <link href="/asset/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/asset/font-awesome/css/font-awesome.css" rel="stylesheet"/>

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="/asset/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet"/>
    <link href="/asset/css/plugins/timeline/timeline.css" rel="stylesheet"/>

    <!-- SB Admin CSS - Include with every page -->
    <link href="/asset/css/sb-admin.css" rel="stylesheet"/>

</head>

<body>

    <div id="wrapper">

		<div th:replace="navbartester :: common-navbar" />
		        
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                    <p> Welcome Tester </p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
           
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

   <!-- Core Scripts - Include with every page -->
    <script src="/asset/js/jquery-1.10.2.js"></script>
    <script src="/asset/js/bootstrap.min.js"></script>
    <script src="/asset/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="/asset/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="/asset/js/plugins/morris/morris.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="/asset/js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    <script src="/asset/js/demo/dashboard-demo.js"></script>

</body>

</html>