<div ng-include = "'views/components/navbaruser.html'"></div>
<div class="row">
    <div class="col-lg-12">
	    <h1 class="page-header">Welcome To Dashboard User</h1>
	    <h3>Guidance to fill the test</h3><br/>
	    <p>1. Participants check test information that appears on the screen</p>
	    <p>2. Participants work on the taks in accordance with the category that has been set by the organizers</p>
	    <p>3. Time determined by the organizers to complete the exam</p>
	    <p>4. Participants can go back to previous question and select another answer</p>
	    <p>5. Participants are not allowed to cheat, working together, chatting with other participants while following the test</p>
	    <br/><br/>
	    <p>~ Good luck ~</p>
	</div>
</div>