<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pji.cbt.mapper.CategoryMapper">
	<resultMap type="pji.cbt.entities.Category" id="resultCategory">
		<id property="idCategory" column="id"/>
		<result property="questionCategory" column="question_category"/>
		<result property="description" column="description"/>
		<result property="questionType" column="question_type"/>
		<result property="timeLimit" column="time_limit"/>
	</resultMap>

	<select id="findAllCategory" resultMap="resultCategory">
		SELECT * FROM tb_question_category
	</select>
	
	<select id="deleteOne" resultMap="resultCategory">
		DELETE FROM tb_question_category WHERE id = #{idCategory}
	</select>
	
	<insert id="createCategory" flushCache="true" parameterType="pji.cbt.entities.Category" statementType="PREPARED" useGeneratedKeys="true" keyProperty="idCategory" keyColumn="id">
		INSERT INTO tb_question_category(question_category,description,question_type,time_limit) VALUES(#{questionCategory}, #{description}, #{questionType}, #{timeLimit} * 60)
	</insert>

	<select id="findOneCategory" resultMap="resultCategory">
		SELECT * FROM tb_question_category WHERE id = #{idCategory}
	</select>

	<update id='updateCategory'>
		UPDATE tb_question_category SET question_category = #{questionCategory}, description = #{description}, question_type = #{questionType} WHERE id = #{idCategory}
	</update>
	
</mapper>