<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pji.cbt.mapper.QuestionMapper">
	<resultMap type="pji.cbt.entities.Question" id="resultQuestion">
		<id property="id" column="id"/>
		<result property="categoryId" column="category_id"/>
		<result property="ordering" column="ordering"/>
		<result property="question" column="question"/>
	</resultMap>
	
	<select id="findAllQuestion" resultMap="resultQuestion">
		SELECT * FROM tb_question
	</select>
	
	<select id="deleteQuestion" parameterType="int" flushCache="true" statementType="PREPARED">
		DELETE FROM tb_question WHERE id = #{id}
	</select>
	
	<select  id="findOneQuestion" resultMap="resultQuestion">
		SELECT * FROM tb_question WHERE category_id = #{categoryId}
	</select>
	
	<insert id="createQuestion" parameterType="pji.cbt.entities.Question" flushCache="true" statementType="PREPARED" keyProperty="" keyColumn="">
		INSERT INTO tb_question (category_id, ordering, question) values (#{categoryId},#{ordering},#{question})
	</insert>
	
</mapper>