<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pji.cbt.mapper.UserMapper">
	<resultMap type="pji.cbt.entities.User" id="resultUser">
		<id property="id" column="id"/>
		<result property="username" column="username"/>
	</resultMap>
	
	<select id="findAll" resultMap="resultUser">
		SELECT * FROM TB_TEST;
	</select>
</mapper>