<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pji.cbt.mapper.AnswerMapper">
	
	<resultMap type="pji.cbt.entities.Answer" id="resultAnswer">
		<id property="idAnswer" column="id"/>
		<result property="orderingAnswer" column="ordering"/>
		<result property="answer" column="answer"/>
		<result property="correctAnswer" column="correct_answer"/>
		<association property="questionAnswer" column="question_id" resultMap="resultQuestion"/>
	</resultMap>
	
	<resultMap type="pji.cbt.entities.Question" id="resultQuestion">
		<id property="idQuestion" column="id"/>
		<result property="orderingQuestion" column="ordering"/>
		<result property="question" column="question"/>
	</resultMap>
	
	<select id="findAllAnswer" resultMap="resultAnswer">
		SELECT * FROM tb_answer;
	</select>
	
	<select id="deleteAnswer" parameterType="int" flushCache="true" statementType="PREPARED">
		DELETE FROM tb_answer WHERE id = #{idAnswer};
	</select>
	
	<select id="findOne" resultMap="resultAnswer">
		SELECT * FROM tb_answer WHERE id = #{idAnswer} ;
	</select>
	
	<select id="findAnswerByQuestion" resultMap="resultAnswer">
		SELECT * FROM tb_answer WHERE question_id = #{questionAnswer.idQuestion} ;
	</select>
	
	<insert id="createAnswer" parameterType="pji.cbt.entities.Answer" flushCache="true" statementType="PREPARED" keyProperty="" keyColumn="">
		INSERT INTO tb_answer (question_id, ordering, answer, correct_answer) values (#{questionAnswer.idQuestion},(SELECT count(ordering)+1 FROM tb_answer WHERE question_id = #{questionAnswer.idQuestion}),#{answer},#{correctAnswer})
	</insert>
	
	<update id='editAnswer'>
	    UPDATE tb_answer SET answer = #{answer}, correct_answer = #{correctAnswer} WHERE id = #{idAnswer}
	</update>
	
</mapper>