<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pji.cbt.mapper.QuestionMapper">
	
	<resultMap type="pji.cbt.entities.Question" id="resultQuestion">
		<id property="idQuestion" column="id"/>
		<result property="orderingQuestion" column="ordering"/>
		<result property="question" column="question"/>
		<association property="category" column="category_id" resultMap="resultCategory"/>
	</resultMap>
	
	<resultMap type="pji.cbt.entities.Category" id="resultCategory">
		<id property="idCategory" column="id"/>
		<result property="questionCategory" column="question_category"/>
		<result property="description" column="description"/>
	</resultMap>

	<select id="findAllCategory" resultMap="resultCategory">
		SELECT * FROM tb_question_category
	</select>
	
	<select id="findAllQuestion" resultMap="resultQuestion">
		SELECT * FROM tb_question
	</select>
	
	<delete id="deleteQuestion" parameterType="int" flushCache="true" statementType="PREPARED">
		DELETE FROM tb_question WHERE id = #{idQuestion}
	</delete>
	
	<select  id="findOneQuestion" resultMap="resultQuestion">
		SELECT * FROM tb_question WHERE id = #{idQuestion}
	</select>
	
	<select  id="findAllQuestionByCategory" resultMap="resultQuestion">
		SELECT * FROM tb_question WHERE category_id = #{idCategory}
	</select>
	
	<select  id="findAllQuestionByCategoryLimit" resultMap="resultQuestion">
		SELECT * FROM tb_question WHERE category_id = #{idCategory}  ORDER BY ordering LIMIT #{limit} OFFSET #{offset}
	</select>
	
	<select  id="findCountQuestion" resultMap="resultQuestion">
		SELECT COUNT(ordering) AS ordering FROM tb_question WHERE category_id = #{idCategory}
	</select>
	
	<select  id="findQuestionRandomOrder" resultMap="resultQuestion">
		SELECT * FROM tb_question where category_id = #{idCategory} ORDER BY RANDOM()
	</select>
	
	<insert id="createQuestion" parameterType="pji.cbt.entities.Question" flushCache="true" >
	
		INSERT INTO tb_question (category_id, ordering, question) 
		VALUES (
			#{category.idCategory},
			(SELECT count(ordering)+1 FROM tb_question WHERE category_id = #{category.idCategory}),
			#{question}
		)
		
	  <selectKey order="AFTER" keyProperty="idQuestion" resultType="int">
    	SELECT currval('tb_question_id_seq'::regclass)
  	  </selectKey>
	</insert>
	
	<update id='editQuestion'>
	    UPDATE tb_question SET question = #{question} WHERE id = #{idQuestion}
	</update>
	
	<update id='updateOrderingQuestion'>
	    UPDATE tb_question SET ordering = ordering-1 WHERE category_id = #{category} AND ordering > #{ordering}
	</update>
	
</mapper>