<div ng-include = "'views/components/navbartester.html'"></div>
<div class="col-lg-12">
    <h1 class="page-header">Add Question</h1>
</div>
<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">Formulir Tester Question</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-8">
                        <!-- <div class="alert alert-danger" th:if="${msg != null}"
                            th:text="${msg != null ? msg : '' }"></div> -->
                        <form ng-submit="toAdd()">
                            <div class="form-group">
                                <label>Question</label>
                                <!-- <input type="hidden" ng-model="category.questionType" th:attr=" value=${questionType !=null ? questionType : '' }"/> -->

                                <textarea class="form-control" placeholder="Enter Question" ng-model="question.question" required="required"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Answer</label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" ng-model="question.answer[0].key" id="optionsRadios1" value="1"/>
                                        <input class="form-control" ng-model="question.answer[0].answer" placeholder="Enter answer A" required="required"/>
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" ng-model="question.answer[1].key" id="optionsRadios2" value="1"/>
                                        <input class="form-control" ng-model="question.answer[1].answer" placeholder="Enter answer B" required="required"/>
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" ng-model="question.answer[2].key"  id="optionsRadios3" value="1"/>
                                        <input class="form-control" ng-model="question.answer[2].answer" placeholder="Enter answer C" required="required"/>
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" ng-model="question.answer[3].key" id="optionsRadios4" value="1"/>
                                        <input class="form-control" ng-model="question.answer[3].answer" placeholder="Enter answer D" required="required"/>
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" ng-model="question.answer[4].key" id="optionsRadios5" value="1"/>
                                        <input class="form-control" ng-model="question.answer[4].answer" placeholder="Enter answer E" required="required"/>
                                    </label>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-danger">Reset</button>
                        </form>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->